@page "/customer/{slug}"
@model LawFirmCMS.Pages.Customer.DynamicPageModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = Model.PageData?.Title ?? "Page Not Found";
}

<div class="page-elements-container page-element">
    @foreach (var element in Model.PageElements)
    {
        <div >
            @switch (element.Type)
            {
                case LawFirmCMS.Data.Enums.PageElementType.Heading:
                    <h1 class="element-heading">@Html.Raw(element.TextData)</h1>
                    break;

                case LawFirmCMS.Data.Enums.PageElementType.Image:
                    var mimeType = "application/octet-stream";
                    if (element.BinaryData[0] == 0xFF && element.BinaryData[1] == 0xD8) mimeType = "image/jpeg";
                    if (element.BinaryData[0] == 0x89 && element.BinaryData[1] == 0x50) mimeType = "image/png";
                    if (element.BinaryData[0] == 0x47 && element.BinaryData[1] == 0x49) mimeType = "image/gif";
                    if (element.BinaryData[0] == 0x42 && element.BinaryData[1] == 0x4D) mimeType = "image/bmp";

                    <div class="element-image-container">
                        <img src="data:@mimeType;base64,@Convert.ToBase64String(element.BinaryData)" alt="Image" class="element-image" />
                    </div>
                    break;

                case LawFirmCMS.Data.Enums.PageElementType.RichText:
                    <div class="element-richtext">@Html.Raw(element.TextData)</div>
                    break;

                case LawFirmCMS.Data.Enums.PageElementType.Employee:
                    <div class="element-employee">
                        <button class="btn btn-primary element-button">@element.TextData</button>
                    </div>
                    break;

                default:
                    <p class="element-unsupported">[Unsupported Element]</p>
                    break;
            }
        </div>
    }
</div>
