USE [master]
GO

/****** Object:  Database [LawFirmCMS]    Script Date: 23/03/2025 22:52:02 ******/
CREATE DATABASE [LawFirmCMS]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LawFirmCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [LawFirmCMS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configurations]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Configurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomPages]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomPages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsGroup] [bit] NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_CustomPages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[Boss] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Expertise] [nvarchar](max) NULL,
	[Picture] [varbinary](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsHandled] [bit] NOT NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobOffer]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobOffer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Salary] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Requirements] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobOffer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageElements]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageElements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[TextData] [nvarchar](max) NULL,
	[BinaryData] [varbinary](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[PageId] [int] NOT NULL,
 CONSTRAINT [PK_PageElements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 23/03/2025 21:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomPages] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsGroup]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[JobOffer] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[CustomPages]  WITH CHECK ADD  CONSTRAINT [FK_CustomPages_CustomPages_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[CustomPages] ([Id])
GO
ALTER TABLE [dbo].[CustomPages] CHECK CONSTRAINT [FK_CustomPages_CustomPages_ParentId]
GO
ALTER TABLE [dbo].[PageElements]  WITH CHECK ADD  CONSTRAINT [FK_PageElements_CustomPages_PageId] FOREIGN KEY([PageId])
REFERENCES [dbo].[CustomPages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PageElements] CHECK CONSTRAINT [FK_PageElements_CustomPages_PageId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Employees_EmployeeId]
GO

SET IDENTITY_INSERT [dbo].[Configurations] ON
INSERT INTO [dbo].[Configurations] ([Id], [Key], [Value]) VALUES (1, N'post_visible', N'True')
INSERT INTO [dbo].[Configurations] ([Id], [Key], [Value]) VALUES (2, N'footer', N'<p>Plac Marii Skłodowskiej-Curie 5, 60-965 Poznań. Telefon: 123</p>
')
SET IDENTITY_INSERT [dbo].[Configurations] OFF

SET IDENTITY_INSERT [dbo].[CustomPages] ON
INSERT INTO [dbo].[CustomPages] ([Id], [Title], [Path], [IsDeleted], [IsGroup], [ParentId]) VALUES (-1, N'Home', N'Home', 0, 0, NULL)
INSERT INTO [dbo].[CustomPages] ([Id], [Title], [Path], [IsDeleted], [IsGroup], [ParentId]) VALUES (17, N'About us', N'AboutUs', 0, 0, NULL)
INSERT INTO [dbo].[CustomPages] ([Id], [Title], [Path], [IsDeleted], [IsGroup], [ParentId]) VALUES (18, N'Practice Areas', N'PracticeAreas', 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[CustomPages] OFF

SET IDENTITY_INSERT [dbo].[Employees] ON
INSERT INTO [dbo].[Employees] ([Id], [Name], [Surname], [Login], [PasswordHash], [Boss], [IsDeleted], [Expertise], [Picture]) VALUES (-2, N'Employee', N'Employee', N'employee', CONVERT(VARBINARY(MAX), '0x327BA87FB0EBC1BF2058A388727F9AAAEFE12D905C10C5825C513266E4FC768AE7EB9952B059596115E29E0B3FECD2E86C8EC284C4B87BB84AD69788A75A1B22',1), 0, 0, N'Skakanie i jedzenie siana', NULL)
INSERT INTO [dbo].[Employees] ([Id], [Name], [Surname], [Login], [PasswordHash], [Boss], [IsDeleted], [Expertise], [Picture]) VALUES (-1, N'Admin', N'Admin', N'admin', CONVERT(VARBINARY(MAX), '0xE1DE259FA32DE5FAF995F6A3153C2708221525CCD6B06DD8705447F634BC9AFF404EE3D470D652237BB91D9C8255079D3EFE717D2DDDEDFE431FE3D55CC71023',1), 1, 0, NULL, NULL)
INSERT INTO [dbo].[Employees] ([Id], [Name], [Surname], [Login], [PasswordHash], [Boss], [IsDeleted], [Expertise], [Picture]) VALUES (1, N'rthreh', N'rhtrht', N'rthrh', CONVERT(VARBINARY(MAX), '0x8866A26CA4F426E12772FEAE2C3A7A9382BACC64CB1E736DCD4E81C1FA79C29104EB73F0CB17E2E06B24D5345D0799A90EBE21725A3BD9A1CC3F69B203D70A94',1), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF

SET IDENTITY_INSERT [dbo].[Forms] ON
INSERT INTO [dbo].[Forms] ([Id], [Email], [Content], [IsHandled]) VALUES (17, N'jffjfj@jdfj', N'fshgfhfghs', 1)
SET IDENTITY_INSERT [dbo].[Forms] OFF

SET IDENTITY_INSERT [dbo].[JobOffer] ON
INSERT INTO [dbo].[JobOffer] ([Id], [Position], [Salary], [Description], [Requirements], [IsDeleted]) VALUES (1, N'Specjalista do spraw sprzątania zupy', 16000, N'Poszukujemy chętnej i pomocnej osobie która pozwoli przetrwać rozlew zupy nawet naszym najbardziej wymagającym klientom. Jęsli szukasz takiego czegos to cho do nas mordeczko.', N'Posiadanie chochli, 5 lat doświadczenia w robieniu pomidorowej', 1)
INSERT INTO [dbo].[JobOffer] ([Id], [Position], [Salary], [Description], [Requirements], [IsDeleted]) VALUES (2, N'Divorce and Custody Lawyer', 7000, N'Join our dynamic team to handle complex divorce cases and custody negotiations. This position involves managing a diverse caseload, working with clients through emotionally charged situations, and ensuring favorable outcomes.', N'Juris Doctor (JD), active state bar license, minimum 5 years of experience in family law, excellent negotiation and communication skills.', 0)
INSERT INTO [dbo].[JobOffer] ([Id], [Position], [Salary], [Description], [Requirements], [IsDeleted]) VALUES (3, N'Family Law Attorney', 9000, N'A well-established law firm is seeking an experienced attorney specializing in family law, including divorce cases, child custody arrangements, and drafting prenuptial agreements. The role involves client consultations and courtroom representation.', N'Juris Doctor (JD), active state bar license, minimum 5 years of experience in family law, excellent negotiation and communication skills.', 0)
SET IDENTITY_INSERT [dbo].[JobOffer] OFF

SET IDENTITY_INSERT [dbo].[PageElements] ON
INSERT INTO [dbo].[PageElements] ([Id], [Type], [Order], [TextData], [BinaryData], [IsDeleted], [PageId]) VALUES (20, 4, 2, N'<p>Welcome to LawCMS</p>
', NULL, 0, -1)
INSERT INTO [dbo].[PageElements] ([Id], [Type], [Order], [TextData], [BinaryData], [IsDeleted], [PageId]) VALUES (23, 4, 0, N'<p><strong>Contact Us</strong></p>
', NULL, 0, 17)
SET IDENTITY_INSERT [dbo].[PageElements] OFF

SET IDENTITY_INSERT [dbo].[Posts] ON
SET IDENTITY_INSERT [dbo].[Posts] OFF
