@model LawFirmCMS.Data.Models.PageElement 

@{
    var mimeType = Model.GetMimeType();
}
@if (Model.BinaryData != null)
{
    <div class="element-image-container">
        <img src="data:@mimeType;base64,@Convert.ToBase64String(Model.BinaryData)" alt="Image" class="element-image" />
    </div>
}
else
{
    <div class="element-image-container">
        <p>No image</p>
    </div>
}