@page
@model LawFirmCMS.Pages.Admin.PageElements.CreateModel
@{
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PageElement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="PageElement.Type" class="control-label"></label>
                <select asp-for="PageElement.Type" class="form-control"></select>
                <span asp-validation-for="PageElement.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageElement.Order" class="control-label"></label>
                <input asp-for="PageElement.Order" class="form-control" />
                <span asp-validation-for="PageElement.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageElement.TextData" class="control-label"></label>
                <input asp-for="PageElement.TextData" class="form-control" />
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageElement.BinaryData" class="control-label"></label>
                <input asp-for="PageElement.BinaryData" class="form-control" />
                <span asp-validation-for="PageElement.BinaryData" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <span class="text-danger">*</span>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PageElement.IsDeleted" /> @Html.DisplayNameFor(model => model.PageElement.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PageElement.PageId" class="control-label"></label>
                <select asp-for="PageElement.PageId" class ="form-control" asp-items="ViewBag.PageId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
