@page
@model LawFirmCMS.Pages.Admin.PageElements.EditModel
@{
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Edit";
    ViewData["NavigationPages"] = "active";
}

<h1>Edit</h1>

<h4>Page Element</h4>
<hr />
<div class="row">
    <div>
        <form method="post" id="elementForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PageElement.Id" />
            <div class="form-group">
                <label asp-for="PageElement.PageId" class="control-label"></label>
                <select asp-for="PageElement.PageId" class="form-control" asp-items="ViewBag.PageId"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="PageElement.Type" class="control-label"></label>
                <select id="type-select" asp-for="PageElement.Type" class="form-control" asp-items="ViewBag.Type"></select>
                <span asp-validation-for="PageElement.Type" class="text-danger"></span>
            </div>
            <div class="form-group" id="heading-group">
                <label asp-for="PageElement.TextData" class="control-label"></label>
                <input id="textdata-heading" asp-for="PageElement.TextData" class="form-control" />
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            <div class="form-group" id="text-group">
                <label asp-for="PageElement.TextData" class="control-label"></label>
                <textarea id="PageElement_TextData_TextArea" asp-for="PageElement.TextData" class="form-control"></textarea>
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            <div class="form-group" id="binary-group">
                <label for="fileInput" class="control-label">Upload Image</label>
                <input type="file" name="fileInput" id="fileInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" id="employee-group">
                <label for="PageElement.TextData" class="control-label">Employee</label>
                <select id="textdata-employee" asp-for="PageElement.TextData" class="form-control" asp-items="ViewBag.Employees"></select>
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            <div class="form-group" id="joboffer-group">
                <label for="JobOffer" class="control-label">JobOffer</label>
                <select id="textdata-jobOffer" asp-for="PageElement.TextData" class="form-control" asp-items="ViewBag.JobOffers"></select>
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PageElement.Order" />
            <input type="hidden" asp-for="PageElement.IsDeleted" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    <script src="https://cdn.ckeditor.com/4.22.0/standard/ckeditor.js"></script>
    <script src="~/js/page-elements.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
