@page
@model LawFirmCMS.Pages.Admin.PageElements.EditModel
@{
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Edit";
    ViewData["NavigationPages"] = "active";
}

<h1>Edit</h1>

<h4>Page Element</h4>
<hr />
<div class="row">
    <div>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PageElement.PageId" class="control-label"></label>
                <select asp-for="PageElement.PageId" class="form-control" asp-items="ViewBag.PageId"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="PageElement.Type" class="control-label"></label>
                <select id="type-select" asp-for="PageElement.Type" class="form-control" asp-items="ViewBag.Type"></select>
                <span asp-validation-for="PageElement.Type" class="text-danger"></span>
            </div>
            <div class="form-group" id="heading-group">
                <label asp-for="PageElement.TextData" class="control-label"></label>
                <input id="textdata-heading" asp-for="PageElement.TextData" class="form-control" />
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            <div class="form-group" id="text-group">
                <label asp-for="PageElement.TextData" class="control-label"></label>
                <textarea id="PageElement_TextData_TextArea" asp-for="PageElement.TextData" class="form-control"></textarea>
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            <div class="form-group" id="binary-group">
                <label for="fileInput" class="control-label">Upload Image</label>
                <input type="file" name="fileInput" id="fileInput" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" id="employee-group">
                <label for="Employee" class="control-label">Employee</label>
                <select id="textdata-employee" asp-for="PageElement.TextData" class="form-control" asp-items="ViewBag.Employees"></select>
                <span asp-validation-for="PageElement.TextData" class="text-danger"></span>
            </div>
            @Html.HiddenFor(Model => Model.PageElement.Order)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    <script src="https://cdn.ckeditor.com/4.22.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('PageElement_TextData_TextArea', {
            versionCheck: false,
            height: 300,
            toolbar: [
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline'] },
                { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                { name: 'links', items: ['Link', 'Unlink'] },
                { name: 'insert', items: ['Image', 'Table'] },
                { name: 'tools', items: ['Maximize'] },
                { name: 'styles', items: ['Format', 'FontSize'] }
            ]

        });

        const typeSelect = document.getElementById('type-select');
        const textGroup = document.getElementById('text-group');
        const binaryGroup = document.getElementById('binary-group');
        const employeeGroup = document.getElementById('employee-group');
        const headingGroup = document.getElementById('heading-group');

        const textDataHeading = document.getElementById('textdata-heading');
        const textDataText = document.getElementById('PageElement_TextData_TextArea');
        const textDataEmployee = document.getElementById('textdata-employee');


        function showProperInputs(selectedValue){
            console.log("ufck");
            if(selectedValue == 'RichText'){
                textGroup.style.display = 'block';
                binaryGroup.style.display = 'none';
                employeeGroup.style.display = 'none';
                headingGroup.style.display = 'none';
                textDataHeading.disabled = true;
                textDataText.disabled = false;
                textDataEmployee.disabled = true;

            }
            else if(selectedValue == 'Heading'){
                textGroup.style.display = 'none';
                binaryGroup.style.display = 'none';
                employeeGroup.style.display = 'none';
                headingGroup.style.display = 'block';
                textDataHeading.disabled = false;
                textDataText.disabled = true;
                textDataEmployee.disabled = true;
            }
            else if(selectedValue == 'Image'){
                textGroup.style.display = 'none';
                binaryGroup.style.display = 'block';
                employeeGroup.style.display = 'none';
                headingGroup.style.display = 'none';
                textDataHeading.disabled = true;
                textDataText.disabled = true;
                textDataEmployee.disabled = true;
            }
            else if(selectedValue == 'Employee'){
                textGroup.style.display = 'none';
                binaryGroup.style.display = 'none';
                employeeGroup.style.display = 'block';
                headingGroup.style.display = 'none';
                textDataHeading.disabled = true;
                textDataText.disabled = true;
                textDataEmployee.disabled = false;
            }
        }

        if (typeSelect) {
          showProperInputs(typeSelect.value);
          textDataText.disabled = false;
          typeSelect.addEventListener('change', (event) => {
            const selectedValue = event.target.value;
            showProperInputs(selectedValue);
          });
        }


    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
