@page
@model LawFirmCMS.Pages.Admin.CustomPages.CreateModel
@{
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Create";
    ViewData["NavigationPages"] = "active";
}

<h1>Create</h1>

<h4>CustomPage</h4>
<hr />
<div class="row">
    <div >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="CustomPage.Title" class="control-label"></label>
                <input asp-for="CustomPage.Title" class="form-control" />
                <span asp-validation-for="CustomPage.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="CustomPage.Path" class="control-label"></label>
                <input asp-for="CustomPage.Path" class="form-control" />
                <span asp-validation-for="CustomPage.Path" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <span class="text-danger">*</span>
                <label class="form-check-label">
                    <input id="isgroup-input" class="form-check-input" asp-for="CustomPage.IsGroup" /> @Html.DisplayNameFor(model => model.CustomPage.IsGroup)
                </label>
            </div>
            <div id="parent-form" class="form-group">
                <label asp-for="CustomPage.ParentId" class="control-label"></label>
                <select asp-for="CustomPage.ParentId" class ="form-control" asp-items="ViewBag.ParentId">
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group form-check">
                <span class="text-danger">*</span>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CustomPage.IsDeleted" /> Hidden
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        const checkbox = document.getElementById('isgroup-input');
        const parentForm = document.getElementById('parent-form');

        if (checkbox && parentForm) {
          // Add event listener to the checkbox
          checkbox.addEventListener('change', () => {
            if (checkbox.checked) {
              parentForm.style.display = 'none'; // Hide the div
            } else {
              parentForm.style.display = 'block'; // Show the div
            }
          });

          // Set initial visibility based on checkbox state
          if (checkbox.checked) {
            parentForm.style.display = 'none';
          } else {
            parentForm.style.display = 'block';
          }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
