@page
@model LawFirmCMS.Pages.Admin.Forms.EditModel
@{
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Form</h4>
<hr />
<div class="row">
    <div >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Form.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Form.Email" class="control-label"></label>
                <input asp-for="Form.Email" class="form-control" />
                <span asp-validation-for="Form.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Form.Content" class="control-label"></label>
                <input asp-for="Form.Content" class="form-control" />
                <span asp-validation-for="Form.Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <span class="text-danger">*</span>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Form.IsHandled" /> @Html.DisplayNameFor(model => model.Form.IsHandled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
